*{
    margin:0;
    padding: 0;;
}


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}

.navber {
  display: flex;
  justify-content: space-between;
}
.logo img {
  height: 100%;
  width: 100%;
}
.link {
  margin-top: 40px;
  display: block;
}

.link a {
  color: #8987a1;
  padding-left: 49px;
}
#home {
  font-weight: 700;
  color: #252432;
}
#cart {
  color: #000000;
}
.banner {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.flower-description h1,
.plant-title {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 13px;
}

#fresh-flowers,
#our,
#latest {
  color: #e95a08;
}
.flower-description p,
.plant-description,
#lover-list,
.deals-description,
.footer-logo p {
  font-size: 1.375rem;
  color: rgba(0, 0, 0, 0.5);
  
}

.plants {
  text-align: center;
  margin-top: 120px;
}

.plants-cart {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 28px;
}
.cart img {
  width: 100%;
}
.plant-name {
  text-align: center;
  margin-top: 30px;
}
.plant-name p {
  font-weight: 500;
  font-size: 1.375rem;
  color: rgb(17, 17, 17);
}
.plant-name h5 {
  font-weight: 700;
  font-size: 1.375rem;
  color: rgb(17, 17, 17);
  margin-top: 10px;
  margin-bottom: 15px;
}

.cart-btn {
  font-weight: 600;
  background: rgb(233, 90, 8);
  padding: 26px 50px;
  color: white;
  border: none;
  width: 100%;
}

.plants-lover {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  gap: 70px;
  margin-top: 210px;
}
.plants-lover-title,
.deals h1 {
  font-size: 3.125rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.flower-lover-img {
  position: relative;
}

.badge {
  position: absolute;
  left: 380px;
  top: -115px;
  height: 255px;
  width: 255px;
}
.nature-img {
  width: 100%;
}

.deals {
  text-align: center;
  margin-top: 120px;
}
.deals-description {
  text-align: center;
  padding: 0 200px;
  margin: 0 auto;
 
}

.flower-offer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 28px;
  margin-top: 120px;
}
.vertical-offer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.sixty {
  background-image: url(assets/deal-bloom.png);
  width: 366px;
  height: 206px;
}
.thirty {
  background-image: url(assets/deal-ana.png);
  width: 366px;
  height: 206px;
}
.sixty,
.thirty,
.twenty {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
  margin: 0 auto;
  border-radius: 14px;
}

.twenty {
  background-image: url(assets/deal-zabo.png);
  width: 753px;
  height: 437px;
}
.sixty a,
.thirty a,
.twenty a {
  color: white;
  text-decoration: underline;
}
.twenty a {
  color: white;
  text-decoration: underline;
  font-size: 28px;
 
}

.sixty h1,
.thirty h1 {
  font-size: 20px;
  font-weight: bold;
  
}
.twenty h1 {
  font-size: 40px;
  font-weight: bold;
}

.flower-join {
  text-align: center;
  background-image: url("assets/news-letter-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 190px 305px;
  margin-top: 120px;
}

.joining-title {
  font-size: 3.125rem;
  font-weight: 700;
  color: white;
  margin-bottom: 23px;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.join input {
  color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  width: 644px;
}

.subscribe-btn {
  background-color: #e95a08;
  padding: 21px 50px;
  font-weight: 600;
  border: none;
  color: white;
}
.footer-logo img , .footer-logo p{
    margin-bottom: 16px;
}
.footer-column {
  display: flex;
  justify-content: space-between;
  gap: 110px;
  margin-top: 50px;
}

.link-column a {
  color: rgb(107, 114, 128);
  text-decoration: none;
  display: flex;
  justify-content: left;
  padding-bottom: 30px;
}

.social-media img {
  padding: 10px;
  padding-top: 0%;
}

@media screen and (max-width: 576px) {
  body {
    margin: 0 10px;
  }
  .link {
    margin-top: 0;
  }
  .link a:nth-child(1) {
    display: none;
  }
  .link a:nth-child(2) {
    display: none;
  }
  .link a:nth-child(3) {
    display: none;
  }
  .navber {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 28px 10px;
  }
  .logo {
    width: 25%;
    padding-top: 10px;
  }
  .banner {
    margin: 0 -10px;
  }
  .banner img {
    width: 100%;
  }
  .flower-description {
    margin: 10px;
  }

  .banner h1 {
    font-size: 24px;
    font-weight: 700;
    width: 75%;
  }
  .flower-description p,
  .plants p {
    font-size: 14px;
  }
  .plants h1 {
    font-size: 24px;
    font-weight: 700;
  }

  .banner {
    flex-direction: column-reverse;
  }
  .plants {
    margin-top: 60px;
  }
  .plants-cart {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 28px;
  }

  .plant-name {
    text-align: center;
    margin-top: 30px;
  }
  .plant-name p {
    font-weight: 500;
    font-size: 1.375rem;
    color: rgb(17, 17, 17);
  }
  .plant-name h5 {
    font-weight: 700;
    font-size: 1.375rem;
    color: rgb(17, 17, 17);
    margin-top: 10px;
  }

  .cart-btn {
    font-size: 14px;
    font-weight: 600;
    background: rgb(233, 90, 8);
    padding: 19px 10px;
    color: white;
    border: none;
    width: 100%;
  }
  .plants-lover {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
  }
  .plants-lover-title,
  .deals h1 {
    font-size: 24px;
  }
  #lover-list,
  .deals p {
    font-size: 14px;
  }

  .badge {
    display: none;
  }

  /* deals */
  .deals-description {
    padding: 0;
    text-align: center;
    font-size: 18px;
  }

  .flower-offer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 120px;
  }
  .vertical-offer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
  }

  .sixty {
    background-image: url(assets/deal-bloom.png);
  }
  .thirty {
    background-image: url(assets/deal-ana.png);
  }
  .twenty {
    background-image: url(assets/deal-zabo.png);
  }
  .sixty,
  .thirty,
  .twenty {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    margin: 0 auto;
    border-radius: 14px;
    width: 300px;
    height: 206px;
   
  }

  .sixty a,
  .thirty a,
  .twenty a {
    color: white;
    text-decoration: underline;
    font-size: 16px;
    font-weight: 500;
  }

  .sixty h1,
  .thirty h1,
  .twenty h1 {
    font-size: 20px;
    font-weight: bold;
    
  }

  .flower-join {
    padding: 64px;
    margin: 0 -10px;
    margin-top: 40px;
  }
  .joining-title {
    font-size: 16px;
    font-weight: 700;
    color: white;
  }
  .form {
    margin: 23px auto;
  }
  .join input {
    color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    width: auto;
  }
  .subscribe-btn {
    background-color: #e95a08;
    padding: 16px 12px;
    font-weight: 600;
    border: none;
    color: white;
  }



.footer-column {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
  margin-top: 50px;

}

.footer-column p{
    font-size: 18px;
    margin-top: 18px;
}

.social-media :nth-child(1){
  padding-left:0;
  padding-top: 0%;
}



}
