
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;

}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.navber{
    display: flex;
    justify-content: space-between;
}
.logo img{
    height: 100%;
    width: 100%;
  
}
.link{
    margin-top: 40px;
    display: block;

}

.link a{
    text-decoration: none;
    color: #8987A1;
    padding-left: 49px;

}
#home{
    font-weight: 700;
    color: #252432;
}
#cart{
    color: #000000;
}
.banner
{       margin-top: 120px;
    display: flex;
    justify-content: space-between;
    align-items: end;

}

.flower-description h1 ,.plant-title {
    font-size: 4rem;
    font-weight: 700;
}

#fresh-flowers , #our , #latest{
    color: #E95A08;
}
.flower-description p , .plant-description ,#lover-list ,
.deals-description , .footer-logo p{
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.5);
}

.plants{
    text-align: center;
    margin-top: 120px;
}


.plants-cart{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    margin-top: 28px;
}
 .cart img{
    width: 100%;
 }
.plant-name{
    text-align: center;
    margin-top: 30px;
}
 .plant-name p{
    font-weight: 500;
    font-size: 1.375rem;
    color: rgb(17, 17, 17);

 }
.plant-name h5{
      font-weight: 700;
    font-size: 1.375rem;
    color: rgb(17, 17, 17);
    margin-top: 10px;
}

.cart-btn{
    font-weight: 600;
    background: rgb(233, 90, 8);
    padding: 26px 50px;
    color: white;
    border: none;
    width: 100%;

}

.plants-lover{
    display: grid;
    grid-template-columns: repeat(2,1fr);

    gap: 65px;   
    margin-top: 210px;
}
.plants-lover-title , .deals h1{
    font-size: 3.125rem;
    font-weight: 700
}
.flower-lover-img{
    position: relative;
}

.badge{
    position: absolute;
     left: 380px;
     top: -115px;
    height: 255px;
    width: 255px;
   
}
  .nature-img {
    width: 100%;
  }
    
.deals{
    text-align: center;
    margin-top: 120px;
}

/* .flower-offer img{
   
    border-radius: 20px;
}
.flower-offer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
    
   
    
}

.vertical-offer{
   
   flex: 33.333%;
   margin: 25px auto;
}

.zabo-plant{
 flex: 66.66%;
} */

.flower-offer{
    display: grid;
    grid-template-columns: 33.33% auto;
    gap: 28px;
    margin-top: 120px;
}
.vertical-offer{
    
}
.sixty{
    background-image: url(assets/deal-bloom.png);
    background-repeat: no-repeat;
   padding: 65px 48px;
}
.thirty{
    background-image: url(assets/deal-ana.png);
    background-repeat: no-repeat;
     padding: 65px 48px;
}
.twenty{
    background-image: url(assets/deal-zabo.png);
    background-repeat: no-repeat;
     padding: 200px 48px;
}
.sixty , .thirty , .twenty{
    text-align: center;
    margin: 0 auto;
    
}

.flower-join{
    text-align: center;
    background-image: url("assets/news-letter-bg.png");
     background-repeat: no-repeat;
     background-size: cover;
    height: 533px;
    padding-top: 100px;
     margin-top: 120px;
     
   
} 



.joining-title{
    font-size: 3.125rem;
    font-weight: 700;
    color: white;

}
.join input{
    color: rgba(0, 0, 0, 0.5);
   padding: 20px 100px 20px 50px;
   width: 644px;

}

.subscribe-btn{
    background-color: #E95A08;
    padding: 21px 50px;
    font-weight: 600;
    border: none;
    color: white;
    position: relative;
    left: -5px;
   

}

.footer-column{
    display: flex;
  justify-content: space-between;
      gap: 110px;
      margin-top: 50px;
   
}

 .link-column a{
     color: rgb(107, 114, 128); 
    text-decoration: none;
    display: flex;
    justify-content: left;
    padding-bottom: 30px;
 }

 .social-media img{
    padding: 10px;
    padding-top: 0%;
 }



@media screen and (max-width:576px) {

    body{
        margin: 0 10px;
    }
 
 .link a:nth-child(1){
    display: none;
    
 }
  .link a:nth-child(2){
    display: none;}
     .link a:nth-child(3){
    display: none;}
    .navber{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 28px 10px;
    }
    .logo{
        width: 25%;
        padding-top: 10px;
        
        
    }
     .banner{
        margin: 0 -10px;
     }
      .banner img{
    width: 100%;
    
}  
.flower-description {
    margin: 10px;
}

        .banner h1{
            font-size: 24px;
            font-weight: 700;
            display: inline-block;
        }
        .flower-description p , .plants p{
            font-size: 14px;
        }
        .plants h1{

            font-size: 24px;
            font-weight: 700;
        }
     
    .banner{
        flex-direction: column-reverse;
    }
    .plants{
        margin-top: 60px;
    }
   .plants-cart{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    margin-top: 28px;
}

.plant-name{
    text-align: center;
    margin-top: 30px;
}
 .plant-name p{
    font-weight: 500;
    font-size: 1.375rem;
    color: rgb(17, 17, 17);

 }
.plant-name h5{
      font-weight: 700;
    font-size: 1.375rem;
    color: rgb(17, 17, 17);
    margin-top: 10px;
}

.cart-btn{
    font-weight: 600;
    background: rgb(233, 90, 8);
    padding: 19px 30px;
    color: white;
    border: none;
    width: 100%;

}
.plants-lover{
    margin-top: 40px;
   display: flex;
   flex-direction: column;
}
.plants-lover-title ,.deals h1{
    font-size: 24px;
}
.lover-list , .deals p{
    font-size: 14px;
}

.badge{
    display: none;
}



}

