
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;

}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.navber{
    display: flex;
    justify-content: space-between;
}
.logo img{
    height: 100px;
    width: 100px;
  
}
.link{
    margin-top: 40px;

}

.link a{
    text-decoration: none;
    color: #8987A1;
    padding-left: 49px;
}
#home{
    font-weight: 700;
    color: #252432;
}
#cart{
    color: #000000;
}
.banner
{       margin-top: 120px;
    display: flex;
    justify-content: space-between;
    align-items: end;

}
.flower-description h1 ,.plant-title {
    font-size: 4.05rem;
    font-weight: 700;
}

#fresh-flowers , #our , #latest{
    color: #E95A08;
}
.flower-description p , .plant-description ,#lover-list ,
.deals-description{
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.5);
}

.plants{
    text-align: center;
    margin-top: 120px;
}


.plants-cart{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}

.plant-name{
    text-align: center;
    margin-top: 30px;
}
 .plant-name p{
    font-weight: 500;
    font-size: 1.375rem;
    color: rgb(17, 17, 17);

 }
.plant-name h5{
      font-weight: 700;
    font-size: 1.375rem;
    color: rgb(17, 17, 17);
    margin-top: 10px;
}

.cart-btn{
    font-weight: 600;
    background: rgb(233, 90, 8);
    padding: 26px 50px;
    color: white;
    border: none;
    width: 100%;

}

.plants-lover{
    display: flex;
    justify-content: space-between;
    gap: 60px;   
    margin-top: 210px;
}
.plants-lover-title , .deals h1{
    font-size: 3.125rem;
    font-weight: 700
}
.flower-lover-img{
    position: relative;
}

.badge{
    position: absolute;
     left: 350px;
     top: -150px;
    height: 286px;
    width: 286px;
}
 
    
.deals{
    text-align: center;
    margin-top: 120px;
}

.join{
    margin-top: 120px;
    text-align: center;
    background-image: url("assets/news-letter-bg.png");
     background-repeat: no-repeat;
    height: 533px;
    width: 100%;
    margin: 0 auto;
   
}



@media screen and (max-width:576px) {
    .banner , .plants-lover{
        flex-direction: column-reverse;
    }
    .plants-cart{
        grid-template-columns: repeat(2,1fr);
    }
}